// theme color
$orange: orange;
$header-color-2: #222;
$light-grey: #ccc;
$grey: #bbb;
$white: #fff;
$red: red;
$dark: #111;
$slide-button: #333e48;
$product-text-color: #0062bd;
// theme font
$fs-20: 20px;
$fs-17: 17px;
$fs-slider-bold: 58px;
